.c-users-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.c-users-container img {
    height: 6.5vh;
    margin: .5rem;
}

.c-users {
    width: 80%;
}

.c-users h4 {
    font-size: 1.5rem;
    color: #fff;
    margin: .8rem 0;
}

.c-users p {
    color: #AAB2CD;
    line-height: 1.5rem;
}

.c-brand-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.c-brand-container img {
    height: 6.5vh;
    margin: .5rem;
}

.c-brand {
    width: 80%;

}

.c-brand h4 {
    font-size: 1.5rem;
    color: #fff;
    margin: .8rem 0;
}

.c-brand p {
    color: #AAB2CD;
    line-height: 1.5rem;
}




@media(min-width: 790px) {
    nav img {
            width: 3vw;
            margin-left: -5rem;
        }
.first-section{
    margin-top: 10rem;
}
        .fifth-section {
            max-width: 100%;
            margin: 6rem auto;
            text-align: center;
        }
        .btn-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
.btn-one {
    width: 160%;
    border-radius: 6rem;
    height: 6rem;
    align-items: center;
    }
    .btn-two{
    width: 160%;
    margin: 1rem;
    border-radius: 6rem;
    height: 6rem;
    align-items: center;
    }
    .btn-one p{
    width: 100%;
    }
    .btn-two p {
    width: 100%;
    }
    .btn-three{
        height: 30rem;
    }
    .six img {
        margin: 0 auto;
        justify-content: center;
        align-self: center;
        width: 100%;
        padding: 3rem;
        
    }
}
@media (min-width: 900px) {
    .third-section{
        display: flex;
        justify-content: center;
        width: 95%;
    }
}

    @media(min-width: 600px) {
        .third-section{
            padding: 2rem;
        }
    }

@media(min-width: 790px) {
    .third-section {
        display: flex;
        justify-content: center;
        width: 95%;
    }
}