.first-section {
    margin: 0 auto;
    padding: 0 0.5rem;
    color: #ffffff;
    margin-top: 8.5rem;
}

.first-section h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #ffffff;
    margin: 1rem 0;
}

.first-section p {
    line-height: 1.7rem;
    font-size: 1.1rem;
}
.beview{
    height: auto;
}
.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 83vw;
}

.btn-wine {
    outline: none;
        border: none;
        margin: 1rem 0;
        padding: 1rem;
        text-align: center;
        width: 10rem;
        border-radius: 2rem;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
    background-color: #DC045D;
    margin-right: .8rem;
    border: 2px solid #DC045D;
}
.btn-wine:active,
.btn-wine:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    transition: 500ms ease;
}


.btn-wine {
    background-color: #DC045D;
}
.btn-wine:active,
.btn-wine:hover {
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    color: #151C2B;
    transition: 500ms ease;
}
.first-section-img {
    margin: 8rem 0;
    padding: 1.5rem 0;
    border: 2px solid #1E2739;
    display: flex;
}
.first-section-img img {
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 460px) and (max-width: 520px) {
    .button-container {
            width: 60%;
}
}
@media only screen and (min-width: 521px) and (max-width: 768px) {
    .button-container {
        width: 50%;
    }
}
@media (min-width: 769px) {
    .first-section {
        margin-top: 10rem;
    }
    .beview{
        width: 90%;
    }
    .button-container {
        width: 20%;
    }
}

@media (min-width: 900px) {
    .first-section {
        display: flex;
        align-items: center;
        padding: 4rem;
        margin-top: -3.5rem;
        transition: all 500ms ease-in;
    }
    .beview {
        width: 50%;
    }
    .button-container{
        width: 63%;      
    }
}