.fifth-section {
    max-width: 80%;
    margin: 6rem auto;
    text-align: center;
}

.fifth-section h3 {
    font-size: 2.2rem;
    margin: 0 auto;
    color: #fff;
}

.fifth-section p {
    width: 100%;
    text-align: center;
    margin: .8rem auto;
    font-size: 1rem;
    color: #AAB2CD;
    line-height: 1.5rem;
    display: block;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-one {
    background-color: #5FC0D8;
    width: 120%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6rem;
    height: 6rem;
    align-items: center;
}

.btn-one h3 {
    font-size: 1rem;
}

.btn-one p {
    font-size: .9rem;
    color: #fff;
}

.btn-two {
    background-color: #6F4CF2;
    width: 120%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6rem;
    height: 6rem;
    align-items: center;
}

.btn-two h3 {
    font-size: 1rem;
}

.btn-two p {
    font-size: .9rem;
    color: #fff;
    padding-top: -2rem;
}

.btn-three {
    background-color: #C660E8;
    width: 120%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 9rem;
    height: 14rem;
    align-items: center;
}

.btn-three h3 {
    font-size: 1rem;
}

.btn-three p {
    font-size: .9rem;
    color: #fff;
    width: 90%;
}

@media(max-width: 440px) {
    .btn-three {
        height: 16rem;
    }
}

@media(min-width: 600px) {
  
    .fifth-section{
        padding: 2rem;
    }
}

@media(min-width: 790px) {
    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .btn-one {
        width: 160%;
        border-radius: 6rem;
        height: 6rem;
        align-items: center;
    }

    .btn-two {
        width: 160%;
        margin: 1rem;
        border-radius: 6rem;
        height: 6rem;
        align-items: center;
    }

    .btn-one p {
        width: 100%;
    }

    .btn-two p {
        width: 100%;
    }

    .btn-three {
        height: 30rem;
    }
}

@media (min-width: 900px) {
    .fifth-section{
        padding: 0 6rem;
        max-width: 100%;
    }
   
    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .btn-one,
    .btn-two {
        width: 45%;
    }

    .btn-three {
        align-self: stretch;
        height: 9rem;
        text-align: center;
    }
}